<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Admin Login</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/font/css/all.min.css">
	<script src="js/main.js" defer></script>
</head>

<body>
	<div class="bg-primary text-white p-3 d-flex justify-content-between">
		<div class="brand-name d-flex">
			<img src="images/state.jpeg" width="30" height="30" style="border-radius: 100%;" alt="Logo">
			<h4>E-Logbook</h4>
		</div>
		<div class="button-group">
			<!-- <button class="loginstudent-button btn btn-outline-light">Login as student</button> -->
			<button class="login-supervisor btn btn-outline-light">Login as supervisor</button>
		</div>
	</div>
	<div class="container my-5 w-50">
					<form method="post" action="/admin" class="my-2 border p-5 rounded">
						<div class="my-3">
							<h5>Admin Login</h5>
						</div>
				      <% if(error) {%>
						<div class="alert alert-danger">
							<p>
								<%= error %>
							</p>
						</div>
						<%}%>
						<div class="form-group">
							<input placeholder="admin ID" type="text" name="adminId" class="form-control">
						</div>
						<div class="form-group mt-3">
							<input placeholder="admin pin" type="text" name="adminPin" class="form-control">
						</div>
						<div class="form-group mt-3">
							<button type="submit" class="btn btn-primary form-control">Login</button>
						</div>
						<footer class="my-5 text-center">
							<h6>Powered by Hi-Tech</h6>
							<p>&copy; <%= new Date().getFullYear() %></p>
						</footer>
					</form>
	</div>
</body>

</html>