<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Placement | Admin Dashboard</title>
  <link rel="stylesheet" type="text/css" href="../css/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/font/css/all.min.css">
  <style>
    a {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div class="bg-primary align-items-center text-white p-3 d-flex justify-content-between">
    <div class="brand-name d-flex">
      <img src="../images/state.jpeg" width="30" height="30" style="border-radius: 100%;" alt="Logo">
      <h4>Admin Dashboard</h4>
    </div>
    <div class="button-group">
      <button class="btn btn-light"><a href="/admin-dashboard" class="text-primary">Home</a><i
          class="fas fa-home"></i></button>
      <button class="btn btn-light"><a href="/register/student" class="text-primary">Register Student</a> <i
          class="fas fa-user"></i></button>
      <button class="btn btn-light"><a href="/register/supervisor" class="text-primary">Register Supervisor</a> <i
          class="fas fa-user"></i></button>
      <button class="btn btn-light"><a href="/admin/inbox" class="text-primary">Inbox</a> <i
          class="fas fa-inbox"></i></button>
    </div>
  </div>
  <div class="container my-5 w-50">
    <form action="/placement" method="post" class="border p-4">
      <div class="my-3">
        <h3>Placement</h3>
      </div>
      <% if(error){%>
        <div class="alert alert-danger">
          <p>
            <%= error %>
          </p>
        </div>
        <%}%>
          <div class="form-group mt-3">
            <input type="text" class="form-control" name="matnumber" placeholder="Matric number">
          </div>
          <div class="form-group mt-3">
            <input type="text" class="form-control" name="company_name" placeholder="Company Name">
          </div>
          <div class="form-group mt-3">
            <input type="text" class="form-control" name="company_address" placeholder="Company Address">
          </div>
          <div class="form-group mt-3">
            <input type="text" class="form-control" name="section_of_work" placeholder="Section of work">
          </div>
          <div class="form-group mt-3">
            <select name="supervisor" class="form-select">
              <option>Supervisor</option>
              <% supervisors.forEach(supervisor=> {%>
                <option value="<%= supervisor._id %>">
                  <%= supervisor.fullname %>
                </option>
                <%})%>
            </select>
          </div>
          <div class="button-group mt-3">
            <button class="btn btn-success">Save <i class="fas fa-save"></i></button>
          </div>
    </form>
  </div>
</body>

</html>