<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>E-logbook</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.min.css">
	<link rel="shortcut icon" href="images/state.jpeg" type="image/*">
	<link rel="stylesheet" type="text/css" href="css/font/css/all.min.css">

	<script src="js/main.js" defer></script>
	<style>
		.menu {
			display: none;
		}

		@media(max-width: 600px) {
			.button-group {
				display: none;
			}

			.menu {
				display: block;
			}
		}
	</style>
</head>

<body>
	<div class="bg-primary text-white p-3 d-flex justify-content-between">
		<div class="brand-name d-flex">
			<img src="images/state.jpeg" width="30" height="30" style="border-radius: 100%;" alt="Logo">
			<h4 class="mx-2">E-Logbook</h4>
		</div>
		<div class="button-group">
			<!-- <button class="login-admin btn btn-outline-light">Login as admin</button> -->
			<!-- <button class="login-supervisor btn btn-outline-light">Login as supervisor</button> -->
		</div>
		<div class="menu">
			<i class="fas fa-bars"></i>
		</div>
	</div>
	<div class="container my-5">
		<div class="row">
			<div class="col-md-6">
				<form action="/student_login" method="POST" class="my-2 border p-3 rounded">
					<div class="my-3">
						<h5>Student Login</h5>
					</div>
					<% if(error) {%>
						<div class="alert alert-danger">
							<p>
								<%= error %>
							</p>
						</div>
						<%}%>
						<div class="form-group">
							<input id="matnumber" placeholder="Matric number" type="text" name="matnumber" class="form-control">
						</div>
						<div class="form-group mt-3">
							<input id="password" placeholder="password" type="text" name="password" class="form-control">
						</div>
						<div class="form-group mt-3">
							<button id="submit" type="submit" class="btn btn-primary form-control">Login</button>
						</div>
						<footer class="my-5 text-center">
							<h6>Powered by Hi-Tech</h6>
							<p>&copy; <%= new Date().getFullYear() %></p>
						</footer>
					</form>
				</div>
						<div class="col-md-6 mt-3">
							<h3>Portal Instruction</h3>
							<ol>
								<li>Enter your Matric number and your password.</li>
								<li>New members should create account first</li>
								<li>If you forget your password contact the ADMIN.</li>
								<li>For all enquires please use the form or call ADMIN on: 08152270373.</li>
							</ol>
						</div>
		</div>
	</div>
</body>

</html>