<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/font/css/all.min.css">
  <style>
    a {
      text-decoration: none;
    }
  </style>
</head>
<body>
    <div class="d-flex">
        <div class="bg-light p-4">
            <div>
                <img src="images/state.jpeg" width="100" height="100" alt="">
            </div>
            <div>
                <h2>NIGER POLYTECHNIC ZUNGERU,BIDA</h2>
                <div class="d-flex flex-column">
                    <a href="/home" class="btn btn-primary mt-3 btn-lg">Login Student</a>
                    <a href="/supervisor-login" class="btn btn-primary mt-3 btn-lg">Login Supervisor</a>
                </div>
                <div class="my-5 text-center">
                    <h6>Powered by Hi-Tech</h6>
                    <p>&copy; <%= new Date().getFullYear() %></p>
                </div>
            </div>
        </div>
        <div class="text-center bg-primary text-white p-3 mx-3">
            
        </div>

        <div class="container border p-5 my-5">
            
            <div class="row">
                <div class="my-3 text-center">
                    <h1>SIWES GUIDELINES</h1>
                </div>
                <div class="col-md-6 border p-4">
                    <h4> RECOMMENDED OUTLINES FOR WRITING A SIWES REPORT </h4></hr>
        <p>The plan of the report is the student’s own responsibility. To streamline all reports, the following outline is to be followed by every student.

            Title
            Name of Student (Surname first)
            Matriculation Number
            Course and Year (e.g. Bus. Edu. 3)
            Location & Firm of Training
            Summary or Abstracts of report (about ¾ – 1 page) it should be containing all the essentials inside the report)
            Acknowledgement
            Introduction:- Here, the student should state what he/she is going to write about. He should briefly outline the organizational structure for the company.
        </p>
        <br>
        <h4> MAIN BODY OF THE REPORT </h4>
        <p>
            This is the most important part of the report and the student must show own innovations. The plan and order sequence should include mainly:
            <ol>
                <li> Skills and practices the student required</li>
                <li> Operation and maintenance training received</li>
                <li> The specific work done must be given adequate coverage</li>
                <li> Any design, calculations, and analysis must be carefully but briefly recorded.</li>
                <li> Supervision and any leadership role played in a given project or assignment (if any) must be briefly reported so as to leave no one in doubt as to student’s actual involvement.</li>
                <li> Sketches, diagrams, graphs, and drawings (if any) must all have titles and designated as Fig. 1, 2 etc. and each must be referred to at least once in the report.</li>
                <li> Experimental test, together with the tables of results must also be given adequate coverage. Each table should be given a title in a sequential order as Table 1,2,3,4,5,6 etc. with related titles and must be referred to at least once in the text.</li>
            </ol>
        </p>
        <h4>CONCLUSION</h4>
        <p>Here, the student should state again what he has achieved, contributed and learned during this attachment.</p><br>
        <br>
                </div>
                <div class="col-md-6 border p-4">
                    <h4>ACKNOWLEDGEMENTS</h4>
                    <p>
                        All those who have in any way helped the student to the success of his training may be noted in this section.
                    </p>
                    <br>
                    <h4>REFERENCES</h4>
                    <p>
                        A list of references may be necessary. It should be listed in the order the references are referred to in the report and also listed alphabetically.
                    </p>
                    <br>
                    <h4>APPENDICES (IF ANY)</h4>
                    <p>
                        A detailed description of the working principles of most apparatus, equipment or devices may be reserved for the appendix section. Only in exceptional cases when the apparatus is the main focus of training should a detailed description form part of the main report. DURATION OF ATTACHMENT FOR SIWES FUNDING
            
                        The minimum duration for SIWES should normally be 24 weeks (6 months) at a stretch. The period is longer for engineering and technology programmes. The ITF will not pay for any attachment period that is less than 24 weeks.
                        In most institutions, SIWES is done at the end of the 2nd-semester examination of either 300, 400 or 500 levels. The time and duration will have to be worked out jointly by each school and the directorate and the ITF.
                    </p>
                    <br>
                    <h4>COMPULSORY REQUIREMENTS FOR PARTICIPATION</h4>
                    <ol>
                        <li>Master list</li>
                        <li>Placement list</li>
                        <li>Summary sheet</li>
                    </ol>
                    <h4>ORIENTATION PROGRAMMES</h4>
                    <p>
                        All students accepted for SIWES must be given an orientation on SIWES by their institutions during which ITF staff must be in attendance
                    </p>
                    <br>
                </div>
            </div>        
            <div class="container my-5">
                <h4>SUPERVISION OF STUDENTS</h4>
                <p>
                    Students on attachment are to be supervised by the professional ITF staff and the institution’s supervisors (comprising the staff of Schools and the Directorate).
                    You can contact Supervisor/Admin  for your IT/SIWES REPORTS WRITING and FILLING OF LOGBOOK ON THE WEBSITE.
                </p>
                <div>
                    <a href="/home" class="btn btn-primary p-3">Login <i class="fas fa-user"></i></a>
                </div>
            </div>
        </div>
   </div>
    
</body>
</html>